
@{
    ViewBag.Title = "Already Claimed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your user account has already claimed a landlord page.</h2>

<p>User accounts are only permitted to claim one landlord page. Please @Html.ActionLink("Contact Us", "Contact", "Home") to resolve this issue.</p>

