
@{
    ViewBag.Title = "Cannot Claim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cannot Claim LandLord Page</h2>

<p>Our records indicate you have already claimed another landlord page.</p>

<p>Users are only permitted to claim one landlord page per account. Please @Html.ActionLink("contact support", "Contact", "Home") if you need to change your information.</p>

