
@{
    ViewBag.Title = "Claim Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Claim Submitted</h2>

<h4>We received your claim for this landlord page</h4>

<p>We process claims for active landlord pages in 48 hours. Feel free to send additional documents to admin@landlordwatch.com.</p>

