@model LandLordRating.Models.LandLord

@{
    ViewBag.Title = "Flag Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Flag Submitted</h2>

<p>We received your flag for @Model.FullName and will be processing it soon. If we find the content you flagged to be against our community guidelines or terms of use, it will be removed from our site.</p>

<p>Thanks for using our flag feature to inform us of this issue!</p>