
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unauthorized Request</h2>

<p>You are not authorized to edit this landlord page or perform this action.</p>

<p>If you need help resolving this issue, please @Html.ActionLink("Contact Us", "Contact", "Home") to get support.</p>

