@model LandLordRating.Models.ApplicationUser

@{
    ViewBag.Title = "Confirmation Email Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation Email Sent</h2>

<p>We sent a confirmation e-mail to @Model.Email. Please click the link we sent to confirm your e-mail address and access our website.</p>

