@{
    ViewBag.Title = "About CMHA Landlord Watch";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CMHA Landlord Watch is for CMHA voucher clients to rate their previous landlord. This system is for landlord accountability.  By reviewing the landlords it helps them be aware of tenant needs and concerns. This rating system allows landlords to be recognized as good property owners who are working to make their property/properties desirable living spaces.</p>
