
@{
    ViewBag.Title = "Community Guidelines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Community Guidelines</h2>

<p>LandLord Karma is committed to providing a safe, friendly and open community where landlords and tenants can interact.</p>

<p>In order to maintain this, we ask that all website users abide by our community guidelines. Failure to abide by these rules will result in suspension or deletion of your account and any claimed pages.</p>

<h3>LandLord Guidelines</h3>

<ul>
    <li>LandLords must provide honest information about properties and tenants.</li>
    <li>LandLords are not permitted to harass former tenants.</li>
    <li>LandLords are expressly forbidden from engaging in any type of hate speech.</li>
    <li>All conversation with tenants must be respectful and polite. Harassment in the form of replies or posts is forbidden.</li>
</ul>

<h3>User and Tenant Guidelines</h3>

<ul>
    <li>Users are forbidden from engaging in any type of hate speech or harassment.</li>
    <li>Users cannot post dishonest complaints about landlords.</li>
    <li>Users are not permitted to post irrelevant information about a landlord such as personal issues. Only issues pertaining to property management are permitted.</li>
</ul>

<h3>By registering and using this website, you agree to the above community guidelines</h3>