@{
    ViewBag.Title = "Home Page";
}



</div>
<div class="jumbotron apartment-bg">
    <div class="container">
        <h1 class="j-text" style="color: #ffffff;">LandLord Watch</h1>
        <p class="lead j-text" style="font-weight: bold;">Quickly Find Information About Your LandLord</p>
        <p class="lead j-text" style="font-weight: bold;">Research Before You Sign the Lease!</p>
        @using (Html.BeginForm("Index", "LandLords"))
        {
            <input type="submit" value="Search LandLords" class="btn btn-lg btn-primary" style="margin-right: 10px; font-size: 16px;" />
            <input type="text" id="zipcode" name="zipcode" value="Enter Zip Code" style="display: inline; line-height: 30px; font-size: 16px;" onfocus="if (this.value == 'Enter Zip Code') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Enter Zip Code'; }" />
        }
        @if (ViewBag.Message != null)
        {
            <p class="warning j-text" style="font-weight: bold; margin-top: 15px;">@ViewBag.Message</p>
        }
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome to Landlord Watch</h2>
            <p>
                 Landlord Watch recognizes landlords who care about their community.  LandLord Watch gives landlords feedback to help them identify concerns of residents who have previously live in rental property owned by the landlord.
            </p>
        </div>
    </div>

</div>