@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Landlord Watch</h1>
    <p class="lead">Landlord Watch helps renters keep their landlord accountable and lets new tennats look up renters past experiences before signing a lease.</p>
    <div class="row">
        <div class="col-sm-6">
            <p class="lead">
                @Html.ActionLink("Search for Landlords", "Index", "LandLords", null, new {role="button", @class = "btn btn-primary btn-lg" })
            </p>
        </div>
        <div class="col-sm-6">
            <p class="lead">
                @if (Request.IsAuthenticated)
                {
                }
                else
                {
                    @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg", role = "button", id = "registerLink" })
                }
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>About Landlord Watch</h2>
        <p>
            Some fluffy mumbo jumbo<br />
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
</div>